## Recommendation system

#### Credit :https://medium.com/dataseries/recommendation-system-in-python-4d4cf6d33166

### Import pandas

In [1]:
import pandas as pd

### Read data file

In [2]:
movies = pd.read_csv("moviesdata.csv")

### Descibe data

In [3]:
movies.describe()

,id,keywords,original_title,overview
count,4813,4813,4812,4809
unique,4813,4229,4808,4809
top,68722,[],"""""gender"""": 0",Luke and Roger are just another couple of coll...
freq,1,412,3,1

### Clean data by droping empty row

In [4]:
movies.dropna(inplace=True)

### Import sklearn with cosine similarity

In [5]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

### Vectorize object

In [6]:
movies['overview'] = movies['overview'].fillna('')

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['overview'])

### Create dataframe

In [7]:
doc_term_matrix = tfidf_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=tfidf.get_feature_names(), 
                  index=movies.index)

### Compute cosine similarity score

In [8]:
cos=cosine_similarity(df, df)

### Function to return 10 title that similar to input

In [9]:
def give_recommendation(title, cos=cos):
    indices = pd.Series(movies.index,
                    index=movies['original_title']).drop_duplicates()
    idx = indices[title]
    cos_scores = list(enumerate(cos[idx]))
    cos_scores = sorted(cos_scores, key=lambda x: x[1], reverse=True)
    cos_scores = cos_scores[1:11]
    movie_indices = [i[0] for i in cos_scores]
    return movies['original_title'].iloc[movie_indices]

### Let's get recommendation

In [10]:
give_recommendation('The Matrix')

481        The Legend of Zorro
4264                     Amigo
4024       Singin' in the Rain
2437            McFarland, USA
3268    Much Ado About Nothing
2746        The Last Godfather
3110               The Joneses
4653               Death Calls
4324            Blue Like Jazz
1584             About Schmidt
Name: original_title, dtype: object